html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body .page-one {
  height: 100vh;
  width: 100%;
  background: url("./img/Website BG.png");
}

body .page-one .navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-one .navbar h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2.5em;
}

body .page-one .navbar .links {
  width: 32.5%;
}

body .page-one .navbar .links a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75em;
  padding: 2.5% 5%;
  color: black;
  border-radius: 10px;
  -webkit-transition: background-color 500ms ease, color 100ms ease;
  transition: background-color 500ms ease, color 100ms ease;
}

body .page-one .navbar .links a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #F1B24A;
  text-decoration: underline;
}

body .page-one .info {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 1%;
  cursor: default;
}

body .page-one .info .main-info {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 13em;
  font-weight: bold;
}

body .page-one .info .main-info span {
  color: #F1B24A;
}

body .page-one .small-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 45%;
  position: absolute;
  top: 10%;
  right: 2.5%;
  color: #F1B24A;
  font-size: 4.5em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5% 5%;
  -webkit-animation: floating 25s ease alternate infinite;
          animation: floating 25s ease alternate infinite;
  cursor: default;
}

body .page-one .socials {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  background-color: rgba(0, 0, 0, 0.75);
  height: 10%;
  width: 15%;
  border-radius: 10px;
  position: fixed;
  bottom: 1%;
  left: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

body .page-one .socials .twitter {
  height: 60px;
  -webkit-filter: grayscale(0) invert(1);
          filter: grayscale(0) invert(1);
  border: 1px solid transparent;
}

body .page-one .socials .social-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 30%;
  width: 30%;
  top: -30%;
  left: 5%;
  border-radius: 100px 100px 0 0;
  background-color: rgba(0, 0, 0, 0.75);
}

body .page-one .socials .social-slider .arrow {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

body .page-one .socials .social-slider .arrow-rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

body .page-one .socials:hover {
  cursor: pointer;
}

body .page-one .slide-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes floating {
  0% {
    top: 10%;
    right: 2.5%;
  }
  10% {
    top: 9%;
    right: 3%;
  }
  20% {
    top: 11%;
    right: 2%;
  }
  30% {
    top: 9%;
    right: 3%;
  }
  40% {
    top: 10%;
    right: 3.5%;
  }
  50% {
    top: 11%;
    right: 2.5%;
  }
  60% {
    top: 10%;
    right: 2%;
  }
  70% {
    top: 11%;
    right: 3%;
  }
  80% {
    top: 9%;
    right: 2%;
  }
  90% {
    top: 10%;
    right: 2.5%;
  }
  100% {
    top: 11%;
    right: 3.5%;
  }
}

@keyframes floating {
  0% {
    top: 10%;
    right: 2.5%;
  }
  10% {
    top: 9%;
    right: 3%;
  }
  20% {
    top: 11%;
    right: 2%;
  }
  30% {
    top: 9%;
    right: 3%;
  }
  40% {
    top: 10%;
    right: 3.5%;
  }
  50% {
    top: 11%;
    right: 2.5%;
  }
  60% {
    top: 10%;
    right: 2%;
  }
  70% {
    top: 11%;
    right: 3%;
  }
  80% {
    top: 9%;
    right: 2%;
  }
  90% {
    top: 10%;
    right: 2.5%;
  }
  100% {
    top: 11%;
    right: 3.5%;
  }
}
/*# sourceMappingURL=style.css.map */