// CSS RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Colour Palette

$dark-green: #164A41;
$medium-green: #4D774E;
$light-green: #9DC88D;
$natural-yellow: #F1B24A;
$white: #FFFFFF;
$opaque-black: rgba(0, 0, 0, 0.25);

// Custom SCSS

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	backface-visibility: hidden;
    .page-one {
		height: 100vh;
		width: 100%;
        background: url('./img/Website\ BG.png');
		.navbar {
			box-sizing: border-box;
			padding: 1% 1%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				text-transform: uppercase;
				font-weight: bold;
				color: $white;
				font-size: 2.5em;
			}
			.links {
				width: 32.5%;
				a {
					display: inline-block;
					text-decoration: none;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1.75em;
					padding: 2.5% 5%;
					color: black;
					border-radius: 10px;
					transition: background-color 500ms ease, color 100ms ease;
				}
				a:hover {
					background-color: rgba(0,0,0,0.75);
					color: $natural-yellow;
					text-decoration: underline;
				}
				.home-link {
					animation-name: linkDrop;
					animation-fill-mode: forwards;
					animation-duration: 500ms;
					transform: translateY(-110%);
				}
				.project-link {
					animation-name: linkDrop;
					animation-fill-mode: forwards;
					animation-duration: 800ms;
					transform: translateY(-110%);
				}
				.contact-link {
					animation-name: linkDrop;
					animation-fill-mode: forwards;
					animation-duration: 1100ms;
					transform: translateY(-110%);
				}
				@keyframes linkDrop {
					from {

					}
					to {
						transform: translateY(0);
					}
				}
			}
		}
		.info {
			width: 50%;
			position: absolute;
			top: 25%;
			left: 1%;
			cursor: default;
			.main-info {
				text-align: center;
				color: $white;
				text-transform: uppercase;
				font-size: 12em;
				font-weight: bold;
				span {
					color: $natural-yellow;
				}
			}
		}
		.small-info {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25%;
			height: 45%;
			position: absolute;
			top: 10%;
			right: 2.5%;
			color: $natural-yellow;
			font-size: 4em;
			background-color: rgba(0,0,0,0.75);
			border-radius: 50%;
			font-weight: bold;
			text-transform: uppercase;
			padding: 5% 5%;
			animation: floating 25s ease alternate infinite;
			cursor: default;
		}
		.socials {
			transform: translateY(110%);
			background-color: rgba(0,0,0,0.75);
			height: 10%;
			width: 15%;
			border-radius: 10px;
			position: fixed;
			bottom: 1%;
			left: 0.5%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			transition: all 500ms ease;
			.twitter {
				height: 60px;
				filter: grayscale(0) invert(1);
				border: 1px solid transparent;
			}
			.social-slider {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 30%;
				width: 30%;
				top: -30%;
				left: 5%;
				border-radius: 100px 100px 0 0;
				background-color: rgba(0,0,0,0.75);
				.arrow {
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 2em;
					transform: rotate(90deg);
					transition: all 500ms ease;
				}
				.arrow-rotate {
					transform: rotate(270deg);
				}
			}
		}
		.socials:hover {
			cursor: pointer;
		}
		.slide-up {
			transform: translateY(0);		
		}
    }
	.page-two {
		background: linear-gradient(60deg, $dark-green, $medium-green);
		width: 100%;
		height: 100vh;
		h2 {
			width: 50%;
			color: white;
			font-size: 2.5em;
			text-transform: uppercase;
			font-weight: bold;
			padding: 1% 0 0 1%;
			margin-bottom: 2.5%;
		}
		.project-container {
			border-radius: 25px;
			margin: 0 auto;
			width: 85%;
			height: 80%;
			background-color: $opaque-black;
			display: flex;
			align-items: center;
			.prev-btn {
				height: 7.5%;
				width: 3.75%;
				background-color: transparent;
				color: white;
				font-weight: bold;
				font-size: 2.5em;
				border: 3px solid white;
				border-radius: 50%;
				position: absolute;
				left: 2.5%;
				transition: all 500ms ease;
			}
			.next-btn {
				height: 7.5%;
				width: 3.75%;
				background-color: transparent;
				color: white;
				font-weight: bold;
				font-size: 2.5em;
				border: 3px solid white;
				border-radius: 50%;
				position: absolute;
				right: 2.5%;
				transition: all 500ms ease;
			}
			.prev-btn:hover, .next-btn:hover {
				background-color: rgba(0,0,0,0.75);
				cursor: pointer;
			}
			.project-image {
				background: url(./img/xps-8pb7Hq539Zw-unsplash.jpg);
				background-size: cover;
				width: 70%;
				height: 100%;
				border-radius: 25px 0 0 25px;
			}
			.project-info {
				background-color: $opaque-black;
				width: 30%;
				height: 100%;
				border-radius: 0 25px 25px 0;
				.project-name {
					width: 80%;
					height: 12.5%;
					text-align: center;
					margin: 5% auto 2.5% auto;
					padding: 2%;
					border-radius: 25px;
					font-size: 3em;
					background-color: rgba(0,0,0,0.5);
					color: $natural-yellow;
				}
				.project-description {
					display: flex;
					align-items: center;
					margin: 0 auto 2.5% auto;
					padding: .5% 2%;
					width: 80%;
					height: 42.5%;
					color: $white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.15em;
					background-color: rgba(0,0,0,0.5);
					border-radius: 25px;
				}
				.project-tech {
					background-color: rgba(0,0,0,0.5);
					width: 80%;
					height: 15%;
					margin: 0 auto 5% auto;
					border-radius: 25px;
					padding: 2.5% 2%;
					font-weight: bold;
					font-size: 1.5em;
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					p {
						color: white;
						margin-bottom: 2.5%;
					}
				}
				.project-buttons {
					width: 80%;
					height: 10%;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					.view-live, .view-git{
						background-color: rgba(0, 0, 0, 0.5);
						color: white;
						height: 75%;
						font-weight: bold;
						text-transform: uppercase;
						font-family: inherit;
						margin: 0 2.5%;
						border-radius: 15px;
						border: 2px solid white;
						padding: 10px 25px;
						font-size: 1.1em;
						transition: all 300ms ease;
					}
					.view-live:hover, .view-git:hover{
						background-color: rgba(0,0,0,0.95);
						color: $natural-yellow;
						cursor: pointer;
					}
				}
			}
		}
	}
	.page-three {
		background: linear-gradient(120deg, $dark-green, $medium-green);
		height: 100vh;
	}
}

@keyframes floating {
	0% {
		top: 10%;
		right: 2.5%;
	}
	10% {
		top: 9%;
		right: 3%;
	}
	20% {
		top: 11%;
		right: 2%
	}
	30% {
		top: 9%;
		right: 3%
	}
	40% {
		top: 10%;
		right: 3.5%
	}
	50% {
		top: 11%;
		right: 2.5%
	}
	60% {
		top: 10%;
		right: 2%
	}
	70% {
		top: 11%;
		right: 3%
	}
	80% {
		top: 9%;
		right: 2%
	}
	90% {
		top: 10%;
		right: 2.5%
	}
	100% {
		top: 11%;
		right: 3.5%
	}
}

@media (max-width: 1400px) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		height: 100vh;
		width: 100%;
		margin: 0px;
		padding: 0px;
		font-family: 'Open Sans', sans-serif;
		overflow-x: hidden;
		.page-one {
			height: 100vh;
			width: 100%;
			background: linear-gradient($dark-green, $medium-green);
			.navbar {
				width: 100%;
				height: 12.5vh;
				margin: 0;
				padding: 0;
				border-bottom: 1px solid rgba(0,0,0,0.75);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				h1 {
					width: 75%;
					margin: 2% 2%;
					text-transform: uppercase;
					font-weight: bold;
					color: $white;
					font-size: 2em;
				}
				.burger-button {
					position: absolute;
					top: 1%;
					right: 3%;
					z-index: 5;
					.line-one {
						position: absolute;
						top: 1%;
						right: 10%;
						width: 30px;
						height: 5px;
						background-color: $white;
						margin: 5px 0;
						transition: all 500ms ease;
					}
					.line-two {
						position: absolute;
						top: 1%;
						right: 10%;
						width: 30px;
						height: 5px;
						background-color: $white;
						margin: 5px 0;
						transform: translateY(10px);
						transition: all 500ms ease;
					}
					.line-three {
						position: absolute;
						top: 1%;
						right: 10%;
						width: 30px;
						height: 5px;
						background-color: $white;
						margin: 5px 0;
						transform: translateY(20px);
						transition: all 750ms ease;
					}
					.line-one-rotate {
						transform: translateY(15px) rotate(45deg);
					}
					.line-two-remove {
						display: none;
					}
					.line-three-rotate {
						transform: translateY(15px) rotate(-45deg) ;
					}
				}
				.links {
					width: 100%;
					background-color: rgba(0,0,0,0.95);
					text-align: center;
					display: none;
					flex-direction: column;
					a {
						margin: 17.5% 0;
						text-decoration: none;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 2.5em;
						transform: translateX(-110%);
						color: $natural-yellow;
					}
					.home-link {
						animation-name: linkSlider;
						animation-duration: 500ms;
						animation-fill-mode: forwards;
						animation-timing-function: cubic-bezier(.17,.67,.44,1.37);
						transform: translateX(-110%);
					}
					.project-link {
						animation-name: linkSlider;
						animation-duration: 650ms;
						animation-fill-mode: forwards;
						animation-timing-function: cubic-bezier(.17,.67,.44,1.37);
						transform: translateX(-110%);
					}
					.contact-link {
						animation-name: linkSlider;
						animation-duration: 800ms;
						animation-fill-mode: forwards;
						animation-timing-function: cubic-bezier(.17,.67,.44,1.37);
						transform: translateX(-110%);				
					}
					@keyframes linkSlider {
						from {

						}
						to {
							transform: translateX(0);
						}
					}
				}
				.show-nav {
					margin: 0;
					position: absolute;
					height: 100vh;
					width: 100%;
					display: flex;
					flex-direction: column;
					z-index: 3;
				}
			}
			.info {
				width: 100%;
				height: 37.5vh;
				display: flex;
				justify-content: center;
				align-items: center;
				position: static;
				cursor: default;
				.main-info {
					color: $white;
					text-transform: uppercase;
					font-size: 3.5em;
					font-weight: bold;
					span {
						color: $natural-yellow;
					}
				}
			}
			.small-info {
				position: inherit;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 50vh;
				color: $natural-yellow;
				font-size: 2.2em;
				background-color: rgba(0,0,0,0.75);
				font-weight: bold;
				text-transform: uppercase;
				cursor: default;
				animation: none;
				border-radius: 0;
				padding: 0;
			}
			.socials {
				background-color: rgba(0,0,0,0.95);
				height: 20%;
				width: 100%;
				border-radius: 10px;
				display: none;
				justify-content: space-around;
				align-items: center;
				transition: all 500ms ease;
				.twitter {
					height: 60px;
					filter: grayscale(0) invert(1);
					border: 1px solid transparent;
				}
				.social-slider {
					display: none;
				}
			}
			.socials:hover {
				cursor: pointer;
			}
			.slide-up {
				transform: translateY(0);		
			}
		}
		.page-two {
			background: linear-gradient(60deg, $dark-green, $medium-green);
			width: 100%;
			height: 100vh;
			// border-top: 5px solid red;
			// border-bottom: 5px solid red;
			h2 {
				width: 50%;
				color: white;
				font-size: 2.5em;
				text-transform: uppercase;
				font-weight: bold;
				padding: 1% 0 0 1%;
				margin-bottom: 2.5%;
			}
			.card-container {
				border-radius: 25px;
				margin: 0 auto;
				width: 85%;
				height: 80%;
				background-color: $opaque-black;
				display: flex;
				flex-direction: column;
				.card-row {
					width: 90%;
					height: 75%;
					margin: 1.5% auto;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					.card {
						height: 100%;
						width: 20%;
						background-color: $opaque-black;
						border-radius: 25px;
					}
				}
			}
		}
		.page-three {
			background: linear-gradient(120deg, $dark-green, $medium-green);
			height: 100vh;
		}
	}
}