// CSS RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Colour Palette

$dark-green: #164A41;
$medium-green: #4D774E;
$light-green: #9DC88D;
$natural-yellow: #F1B24A;
$white: #FFFFFF;
$opaque-black: rgba(0, 0, 0, 0.25);

// Custom SCSS

body {
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
    .page-one {
		height: 100vh;
		width: 100%;
        background: url('./img/Website\ BG.png');
		.navbar {
			box-sizing: border-box;
			padding: 1% 1%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				text-transform: uppercase;
				font-weight: bold;
				color: $white;
				font-size: 2.5em;
			}
			.links {
				width: 32.5%;
				a {
					text-decoration: none;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1.75em;
					padding: 2.5% 5%;
					color: black;
					border-radius: 10px;
					transition: background-color 500ms ease, color 100ms ease;
				}
				a:hover {
					background-color: rgba(0,0,0,0.75);
					color: $natural-yellow;
					text-decoration: underline;
				}
			}
		}
		.info {
			width: 50%;
			position: absolute;
			top: 25%;
			left: 1%;
			cursor: default;
			.main-info {
				text-align: center;
				color: $white;
				text-transform: uppercase;
				font-size: 13em;
				font-weight: bold;
				span {
					color: $natural-yellow;
				}
			}
		}
		.small-info {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25%;
			height: 45%;
			position: absolute;
			top: 10%;
			right: 2.5%;
			color: $natural-yellow;
			font-size: 4.5em;
			background-color: rgba(0,0,0,0.75);
			border-radius: 50%;
			font-weight: bold;
			text-transform: uppercase;
			padding: 5% 5%;
			animation: floating 25s ease alternate infinite;
			cursor: default;
		}
		.socials {
			transform: translateY(110%);
			background-color: rgba(0,0,0,0.75);
			height: 10%;
			width: 15%;
			border-radius: 10px;
			position: fixed;
			bottom: 1%;
			left: 0.5%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			transition: all 500ms ease;
			.twitter {
				height: 60px;
				filter: grayscale(0) invert(1);
				border: 1px solid transparent;
			}
			.social-slider {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 30%;
				width: 30%;
				top: -30%;
				left: 5%;
				border-radius: 100px 100px 0 0;
				background-color: rgba(0,0,0,0.75);
				.arrow {
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 2em;
					transform: rotate(90deg);
					transition: all 500ms ease;
				}
				.arrow-rotate {
					transform: rotate(270deg);
				}
			}
		}
		.socials:hover {
			cursor: pointer;
		}
		.slide-up {
			transform: translateY(0);		
		}
    }
}

@keyframes floating {
	0% {
		top: 10%;
		right: 2.5%;
	}
	10% {
		top: 9%;
		right: 3%;
	}
	20% {
		top: 11%;
		right: 2%
	}
	30% {
		top: 9%;
		right: 3%
	}
	40% {
		top: 10%;
		right: 3.5%
	}
	50% {
		top: 11%;
		right: 2.5%
	}
	60% {
		top: 10%;
		right: 2%
	}
	70% {
		top: 11%;
		right: 3%
	}
	80% {
		top: 9%;
		right: 2%
	}
	90% {
		top: 10%;
		right: 2.5%
	}
	100% {
		top: 11%;
		right: 3.5%
	}
}