html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body .page-one {
  height: 100vh;
  width: 100%;
  background: url("./img/Website BG.png");
}

body .page-one .navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-one .navbar h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2.5em;
}

body .page-one .navbar .links {
  width: 32.5%;
}

body .page-one .navbar .links a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75em;
  padding: 2.5% 5%;
  color: black;
  border-radius: 10px;
  -webkit-transition: background-color 500ms ease, color 100ms ease;
  transition: background-color 500ms ease, color 100ms ease;
}

body .page-one .navbar .links a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #F1B24A;
  text-decoration: underline;
}

body .page-one .navbar .links .home-link {
  -webkit-animation-name: linkDrop;
          animation-name: linkDrop;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

body .page-one .navbar .links .project-link {
  -webkit-animation-name: linkDrop;
          animation-name: linkDrop;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

body .page-one .navbar .links .contact-link {
  -webkit-animation-name: linkDrop;
          animation-name: linkDrop;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1100ms;
          animation-duration: 1100ms;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

@-webkit-keyframes linkDrop {
  from {
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes linkDrop {
  from {
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body .page-one .info {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 1%;
  cursor: default;
}

body .page-one .info .main-info {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 13em;
  font-weight: bold;
}

body .page-one .info .main-info span {
  color: #F1B24A;
}

body .page-one .small-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 45%;
  position: absolute;
  top: 10%;
  right: 2.5%;
  color: #F1B24A;
  font-size: 4.5em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5% 5%;
  -webkit-animation: floating 25s ease alternate infinite;
          animation: floating 25s ease alternate infinite;
  cursor: default;
}

body .page-one .socials {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  background-color: rgba(0, 0, 0, 0.75);
  height: 10%;
  width: 15%;
  border-radius: 10px;
  position: fixed;
  bottom: 1%;
  left: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

body .page-one .socials .twitter {
  height: 60px;
  -webkit-filter: grayscale(0) invert(1);
          filter: grayscale(0) invert(1);
  border: 1px solid transparent;
}

body .page-one .socials .social-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 30%;
  width: 30%;
  top: -30%;
  left: 5%;
  border-radius: 100px 100px 0 0;
  background-color: rgba(0, 0, 0, 0.75);
}

body .page-one .socials .social-slider .arrow {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

body .page-one .socials .social-slider .arrow-rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

body .page-one .socials:hover {
  cursor: pointer;
}

body .page-one .slide-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .page-two {
  background: linear-gradient(60deg, #164A41, #4D774E);
  width: 100%;
  height: 100vh;
}

body .page-two h2 {
  width: 50%;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1% 0 0 1%;
  margin-bottom: 2.5%;
}

body .page-two .card-container {
  border-radius: 25px;
  margin: 0 auto;
  width: 85%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .page-two .card-container .card-row {
  width: 90%;
  height: 75%;
  margin: 1.5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-two .card-container .card-row .card {
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

body .page-three {
  background: linear-gradient(120deg, #164A41, #4D774E);
  height: 100vh;
}

@-webkit-keyframes floating {
  0% {
    top: 10%;
    right: 2.5%;
  }
  10% {
    top: 9%;
    right: 3%;
  }
  20% {
    top: 11%;
    right: 2%;
  }
  30% {
    top: 9%;
    right: 3%;
  }
  40% {
    top: 10%;
    right: 3.5%;
  }
  50% {
    top: 11%;
    right: 2.5%;
  }
  60% {
    top: 10%;
    right: 2%;
  }
  70% {
    top: 11%;
    right: 3%;
  }
  80% {
    top: 9%;
    right: 2%;
  }
  90% {
    top: 10%;
    right: 2.5%;
  }
  100% {
    top: 11%;
    right: 3.5%;
  }
}

@keyframes floating {
  0% {
    top: 10%;
    right: 2.5%;
  }
  10% {
    top: 9%;
    right: 3%;
  }
  20% {
    top: 11%;
    right: 2%;
  }
  30% {
    top: 9%;
    right: 3%;
  }
  40% {
    top: 10%;
    right: 3.5%;
  }
  50% {
    top: 11%;
    right: 2.5%;
  }
  60% {
    top: 10%;
    right: 2%;
  }
  70% {
    top: 11%;
    right: 3%;
  }
  80% {
    top: 9%;
    right: 2%;
  }
  90% {
    top: 10%;
    right: 2.5%;
  }
  100% {
    top: 11%;
    right: 3.5%;
  }
}

@media (max-width: 1400px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
  }
  body .page-one {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#164A41), to(#4D774E));
    background: linear-gradient(#164A41, #4D774E);
  }
  body .page-one .navbar {
    width: 100%;
    height: 12.5vh;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .page-one .navbar h1 {
    width: 75%;
    margin: 2% 2%;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2em;
  }
  body .page-one .navbar .burger-button {
    position: absolute;
    top: 1%;
    right: 3%;
    z-index: 5;
  }
  body .page-one .navbar .burger-button .line-one {
    position: absolute;
    top: 1%;
    right: 10%;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 5px 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  body .page-one .navbar .burger-button .line-two {
    position: absolute;
    top: 1%;
    right: 10%;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 5px 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  body .page-one .navbar .burger-button .line-three {
    position: absolute;
    top: 1%;
    right: 10%;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 5px 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
  }
  body .page-one .navbar .burger-button .line-one-rotate {
    -webkit-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
  body .page-one .navbar .burger-button .line-two-remove {
    display: none;
  }
  body .page-one .navbar .burger-button .line-three-rotate {
    -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
  }
  body .page-one .navbar .links {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .page-one .navbar .links a {
    margin: 17.5% 0;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    color: #F1B24A;
  }
  body .page-one .navbar .links .home-link {
    -webkit-animation-name: linkSlider;
            animation-name: linkSlider;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  body .page-one .navbar .links .project-link {
    -webkit-animation-name: linkSlider;
            animation-name: linkSlider;
    -webkit-animation-duration: 700ms;
            animation-duration: 700ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  body .page-one .navbar .links .contact-link {
    -webkit-animation-name: linkSlider;
            animation-name: linkSlider;
    -webkit-animation-duration: 900ms;
            animation-duration: 900ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  @-webkit-keyframes linkSlider {
    from {
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes linkSlider {
    from {
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  body .page-one .navbar .show-nav {
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
  }
  body .page-one .info {
    width: 100%;
    height: 37.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    cursor: default;
  }
  body .page-one .info .main-info {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bold;
  }
  body .page-one .info .main-info span {
    color: #F1B24A;
  }
  body .page-one .small-info {
    position: inherit;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50vh;
    color: #F1B24A;
    font-size: 2.2em;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
    -webkit-animation: none;
            animation: none;
    border-radius: 0;
    padding: 0;
  }
  body .page-one .socials {
    background-color: rgba(0, 0, 0, 0.95);
    height: 20%;
    width: 100%;
    border-radius: 10px;
    display: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  body .page-one .socials .twitter {
    height: 60px;
    -webkit-filter: grayscale(0) invert(1);
            filter: grayscale(0) invert(1);
    border: 1px solid transparent;
  }
  body .page-one .socials .social-slider {
    display: none;
  }
  body .page-one .socials:hover {
    cursor: pointer;
  }
  body .page-one .slide-up {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body .page-two {
    background: linear-gradient(60deg, #164A41, #4D774E);
    width: 100%;
    height: 100vh;
  }
  body .page-two h2 {
    width: 50%;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1% 0 0 1%;
    margin-bottom: 2.5%;
  }
  body .page-two .card-container {
    border-radius: 25px;
    margin: 0 auto;
    width: 85%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .page-two .card-container .card-row {
    width: 90%;
    height: 75%;
    margin: 1.5% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .page-two .card-container .card-row .card {
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  body .page-three {
    background: linear-gradient(120deg, #164A41, #4D774E);
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */